
.swiper-container{
    width: 100%;
    height: 540px;
    margin-top: 10px;
    & img{
        width: 100%;
        height: 100%;
    }
}
.swiper-button-prev::after{
    display: none;
}
.swiper-button-prev>img{
    transform: rotate(180deg);
    width: 100px;
}
.swiper-button-next>img{
    width: 100px;
}
.swiper-button-next::after{
    display: none;
}